Esercizio dtd.dtd

<!-- definire i seguenti elementi: 
elemento root: TEI 
elementi figli: header (obbligatorio una occorenza)
                facsimile (opzionale una occorrenza)
                text (obbligatorio almeno una occorrenza)
hanno tutti un content model testuale -->

<!ELEMENT TEI (header,facsimile?,text+)>

<!ELEMENT header (#PCDATA) >
<!ELEMENT facsimile (#PCDATA) >
<!ELEMENT text (#PCDATA) >
